@import "tailwindcss";
.no-scroll-x, html, body {
  overflow-x: hidden;
}
.marquee {
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: flex;
  gap: 24px;

  width: max-content;

  animation: scroll 70s linear infinite;
}

.marquee:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes scroll {

  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.reverse .marquee-content {
  animation-direction: reverse;
}


.connect-marquee {
  overflow: hidden;
  width: 100%;
}

.connect-marquee-content {
  display: flex;
  align-items: center;
  gap: 40px;

  width: max-content;

  animation: connectScroll 30s linear infinite;
  transition: all 0.5s ease;
}

@keyframes connectScroll {

  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }

}
.group:hover .connect-marquee-content {
  animation-duration: 30s;
  cursor: pointer;
}
